body{
    background-color: rgb(0, 53, 148);
    color: rgb(255, 163, 0);
    font-family: Arial;
     
  }
  h1 {
    text-align: center;
  }
  #image {
   display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  
  #img-caption {
   display: block;
   text-align: center;
    
  }
  
  
    ul {
    display: table;
    margin: 0 auto;
    padding: 10px;
  }
  
    p {
    text-align: center;
  }